body{
font-family: 'Oswald', sans-serif !important;
}

/* ***** NAVBAR ***** */

.navbar{
  border-bottom: .1875rem solid var(--primary-transparent-blue) !important;
  backdrop-filter: blur(5px);
}

.logo{
  width: 4.25rem;
  height: 6rem  !important;
}
