body{
font-family: 'Oswald', sans-serif !important;
}
/* *** HEADER *** */
main{
  min-height: 80vh;
}

.logo{
  width: 2rem;
  height: 2rem  !important;
}

@media(max-width:1000px) {
  .logo{
  width: 2rem;
  height: 2rem  !important;
  display:none
}

}

/* *** HOMESCREEN *** */

img.card-img{
  width: 14rem;
  height: 14rem  !important;
}

/* *** FOOTER *** */