body{
font-family: 'Oswald', sans-serif !important;
}
/* *** HEADER *** */
main{
  min-height: 80vh;
}
/* *** NAVBAR *** */
.navbar{
  border-bottom: .1875rem solid rgb(193,156,106) !important;
  backdrop-filter: blur(5px);
}

/* .navbar-nav{
  margin: auto;
} */

nav a.nav-link {
  letter-spacing: .0375rem;
  cursor: pointer; 
}


.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-black)  !important;
  border-top: .1875rem solid var(--primary-white);
}

.navbar-nav > a:hover {
  color: rgb(193,156,106) !important;
}

.navbar-nav > li> a.active, .navbar-nav > a:focus{
  border-top: .1875rem solid  rgb(193,156,106) !important ;

}

.navbar-nav > li > a:hover{
   border-top: .1875rem solid var(--primary-black);
}



.logo{
  width: 2rem;
  height: 2rem  !important;
}

@media(max-width:1000px) {
  .logo{
  width: 2rem;
  height: 2rem  !important;
  display:none
}

}

/* *** HOMESCREEN *** */

img.card-img{
  width: 14rem;
  height: 14rem  !important;
}

h1{
  padding: 1rem 0;
}

.rating span{
margin: 0.1rem;
}

/* *** FOOTER *** */